.alphav1Page {
color: Black;
font: 10pt Calibri, Tahoma, Arial;
}
.alphav1Heading {
font: bold 11pt Calibri, Tahoma, Arial;
}
.alphav1TextHighlight {
font-style: italic;
font-weight: bold;
border-bottom: 1px dotted Black;
}
.alphav1Link {
color: Black;
}
.alphav1Link:hover {
text-decoration: none;
color: Gray;
}
.alphav1Group {
border: 1px solid #c3c3c3;
padding: 4px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
.alphav1GroupLabel {
}
.alphav1UILock {
background-color: #232222;
border: 1px solid Black;
opacity: .25;
filter: alphav1(opacity: 25);
}
.alphav1Edit {
background: url('images/a5generated/box/size/1x4/fill/Gradient_Horizontal/.%23242%2c241%2c241/.%23253%2c252%2c252.png.a5image') repeat-x top #fdfcfc;
font: 10pt Calibri, Tahoma, Arial;
border: 1px solid #c3c3c3;
padding: 3px;
vertical-align: middle;
border-radius: 2px;
box-sizing: border-box;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
outline: none;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
}
.alphav1EditError {
color: #fe0000;
background: url('images/a5generated/box/size/8x8/fill/Up_Diagonal/.%23255%2c195%2c195/.%23255%2c218%2c218.png.a5image') repeat center #ffdada;
font: 10pt Calibri, Tahoma, Arial;
border: 1px solid #fe0000;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.alphav1EditWatermark {
color: Gray;
font-style: italic;
}
.alphav1EditBG {
background: url('images/a5generated/box/size/1x4/fill/Gradient_Horizontal/.%23242%2c241%2c241/.%23253%2c252%2c252.png.a5image') repeat-x top #fdfcfc;
font: 10pt Calibri, Tahoma, Arial;
border: 1px solid #c3c3c3;
padding: 0px;
vertical-align: middle;
border-radius: 2px;
box-sizing: border-box;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
}
.alphav1EditBGError {
color: #fe0000;
background: url('images/a5generated/box/size/8x8/fill/Up_Diagonal/.%23255%2c195%2c195/.%23255%2c218%2c218.png.a5image') repeat center #ffdada;
font: 10pt Calibri, Tahoma, Arial;
border: 1px solid #fe0000;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.alphav1EditBGEdit {
background: repeat-x top transparent;
font: 10pt Calibri, Tahoma, Arial;
border: 1px none #c3c3c3;
padding: 3px;
margin: 0px;
outline: none;
}
.alphav1EditBGError .alphav1EditBGEdit {
color: #fe0000;
}
.alphav1EditBGEditWatermark {
color: Gray;
font-style: italic;
}
.alphav1EditBGSeparator {
background-color: transparent;
font: 0pt arial;
padding: 0px;
width: 1px;
}
.alphav1EditBGHover .alphav1EditBGSeparator, .alphav1EditBGFocus .alphav1EditBGSeparator {
background-color: #c3c3c3;
}
.alphav1EditBGButton {
padding: 1px 2px;
}
.alphav1EditBGHover .alphav1EditBGButton, .alphav1EditBGFocus .alphav1EditBGButton {
text-shadow: 1px 1px #ffffff;
color: #333232;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23241%2c241%2c241/.%23217%2c216%2c216.png.a5image') repeat-x top #dad9d9;
font: 10pt Calibri, Tahoma, Arial;
border: 1px solid White;
padding: 0px 1px;
border-radius: 1px;
-moz-border-radius: 1px;
-webkit-border-radius: 1px;
}
.alphav1EditBGHover .alphav1EditBGButtonHover {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23233%2c238%2c254/.%23188%2c204%2c254.png.a5image') repeat-x top #beceff;
}
.alphav1EditBGHover .alphav1EditBGButtonPressed, .alphav1EditBGFocus .alphav1EditBGButtonPressed {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23216%2c216%2c216/.%23242%2c240%2c240.png.a5image') repeat-x top #f0efef;
}
.alphav1Button {
text-shadow: 1px 1px #ffffff;
color: #333232;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23241%2c241%2c241/.%23217%2c216%2c216.png.a5image') repeat-x top #dad9d9;
font: 10pt Calibri, Tahoma, Arial;
border: 1px solid #c7c6c6;
padding: 2px 4px;
vertical-align: middle;
border-radius: 4px;
box-sizing: border-box;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
}
.alphav1ButtonT {
text-shadow: 1px 1px #ffffff;
color: #333232;
background-color: transparent;
font: 10pt Calibri, Tahoma, Arial;
border-style: none;
padding: 3px 5px;
vertical-align: middle;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
}
.alphav1ButtonHover, .alphav1ButtonTHover {
color: Black;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23233%2c238%2c254/.%23188%2c204%2c254.png.a5image') repeat-x top #beceff;
border: 1px solid #4170ff;
padding: 2px 4px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
.alphav1ButtonPressed, .alphav1ButtonTPressed {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23216%2c216%2c216/.%23242%2c240%2c240.png.a5image') repeat-x top #f0efef;
border: 1px solid #9d9999;
padding: 2px 4px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
.alphav1ButtonDisabled, .alphav1ButtonTDisabled, .alphav1Button[disabled], .alphav1ButtonT[disabled] {
color: #8a8888;
}
.alphav1ButtonDD {
text-shadow: 1px 1px #ffffff;
color: #333232;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23241%2c241%2c241/.%23217%2c216%2c216.png.a5image') repeat-x top #dad9d9;
font: 10pt Calibri, Tahoma, Arial;
border: 1px solid #c7c6c6;
padding: 0px;
vertical-align: middle;
border-radius: 4px;
box-sizing: border-box;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
}
.alphav1ButtonTDD {
text-shadow: 1px 1px #ffffff;
color: #333232;
background-color: transparent;
font: 10pt Calibri, Tahoma, Arial;
border-style: none;
padding: 1px;
vertical-align: middle;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
}
.alphav1ButtonDDHover, .alphav1ButtonTDDHover {
color: Black;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23233%2c238%2c254/.%23188%2c204%2c254.png.a5image') repeat-x top #beceff;
border: 1px solid #4170ff;
padding: 0px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
.alphav1ButtonDDPressed, .alphav1ButtonTDDPressed {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23216%2c216%2c216/.%23242%2c240%2c240.png.a5image') repeat-x top #f0efef;
border: 1px solid #9d9999;
padding: 0px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
.alphav1ButtonDDDisabled, .alphav1ButtonTDDDisabled {
color: #8a8888;
}
.alphav1ButtonDDContent, .alphav1ButtonDDSplitContent, .alphav1ButtonTDDContent, .alphav1ButtonTDDSplitContent {
padding: 2px 4px;
cursor: default;
}
.alphav1ButtonDDDropdown, .alphav1ButtonDDSplitDropdown, .alphav1ButtonTDDDropdown, .alphav1ButtonTDDSplitDropdown {
padding: 2px;
cursor: default;
}
.alphav1ButtonDDHover .alphav1ButtonDDSplitContent, .alphav1ButtonTDDHover .alphav1ButtonTDDSplitContent {
border-right: 1px solid White;
padding-right: 3px;
}
.alphav1ButtonDDPressed .alphav1ButtonDDSplitContent, .alphav1ButtonTDDPressed .alphav1ButtonTDDSplitContent {
border-right: 1px solid #f5f4f4;
padding-right: 3px;
}
.alphav1ButtonDDHover .alphav1ButtonDDSplitDropdown, .alphav1ButtonTDDHover .alphav1ButtonTDDSplitDropdown {
border-left: 1px solid #83a2ff;
padding-left: 1px;
}
.alphav1ButtonDDPressed .alphav1ButtonDDSplitDropdown, .alphav1ButtonTDDPressed .alphav1ButtonTDDSplitDropdown {
border-left: 1px solid #c7c6c6;
padding-left: 1px;
}
.alphav1ButtonDDHover .alphav1ButtonDDSplitDropdownHover, .alphav1ButtonTDDHover .alphav1ButtonTDDSplitDropdownHover {
background: url('images/a5generated/box/size/1x10/fill/Gradient_Horizontal/.HTML-White/.%23229%2c228%2c228.png.a5image') repeat-x top #cedafe;
border-left: 1px solid #4170ff;
padding: 2px;
padding-left: 1px;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
-webkit-top-right-border-radius: 3px;
-moz-top-right-border-radius: 3px;
-webkit-bottom-right-border-radius: 3px;
-moz-bottom-right-border-radius: 3px;
}
.alphav1ButtonGroupHF {
border-right-style: none;
margin-right: 0px;
border-radius: 3px 0px 0px 3px;
}
.alphav1ButtonGroupHM {
border-right-style: none;
margin-left: 0px;
margin-right: 0px;
border-radius: 0px;
}
.alphav1ButtonGroupHL {
margin-left: 0px;
border-radius: 0px 3px 3px 0px;
}
.alphav1ButtonGroupVF {
border-bottom-style: none;
margin-bottom: 0px;
display: block;
width: 100%;
border-radius: 3px 3px 0px 0px;
}
.alphav1ButtonGroupVM {
border-bottom-style: none;
margin-top: 0px;
margin-bottom: 0px;
display: block;
width: 100%;
border-radius: 0px;
}
.alphav1ButtonGroupVL {
margin-top: 0px;
display: block;
width: 100%;
border-radius: 0px 0px 3px 3px;
}
.alphav1SliderH {
padding: 6px;
}
.alphav1SliderHInner {
background: url('images/a5generated/box/size/1x4/fill/Gradient_Horizontal/.%23242%2c241%2c241/.%23253%2c252%2c252.png.a5image') repeat-x top #fdfcfc;
font: 0pt arial;
border: 1px solid #c3c3c3;
height: 6px;
border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
}
.alphav1SliderHHandle {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23242+242+242/.%23217+216+216.png.a5image') repeat-x top;
font-size: 0pt;
border: 1px solid #c7c6c6;
margin-top: -6px;
margin-left: -6px;
width: 16px;
height: 16px;
border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
}
.alphav1SliderHRange {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23242+242+242/.%23217+216+216.png.a5image') repeat-x top;
font-size: 0pt;
border: 1px solid #c3c3c3;
margin: -1px;
height: 6px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
.alphav1SliderHHandleHover {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23233%2c238%2c254/.%23188%2c204%2c254.png.a5image') repeat-x top #beceff;
border-color: #93aeff;
}
.alphav1SliderHHandleSelected {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23228%2c234%2c254/.%23176%2c195%2c254.png.a5image') repeat-x top #b2c5ff;
border-color: #4170ff;
}
.alphav1SliderHRangeHover {
background: url('images/a5generated/box/size/1x28/fill/Gradient_Horizontal/.%23233%2c238%2c254/.%23188%2c204%2c254.png.a5image') repeat-x top #beceff;
border-color: #93aeff;
}
.alphav1SliderHRangeSelected {
background: url('images/a5generated/box/size/1x28/fill/Gradient_Horizontal/.%23228%2c234%2c254/.%23176%2c195%2c254.png.a5image') repeat-x top #b2c5ff;
border-color: #4170ff;
}
.alphav1Switch {
color: #333232;
background: url('images/a5generated/box/size/1x28/fill/Gradient_Horizontal/.%23242%2c241%2c241/.%23253%2c252%2c252.png.a5image') repeat-x top #fdfcfc;
border: 1px solid #c3c3c3;
cursor: default;
height: 28px;
border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
}
.alphav1SwitchOn {
color: Black;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23216%2c216%2c216/.%23242%2c240%2c240.png.a5image') repeat-x top #f0efef;
}
.alphav1SwitchOff {
}
.alphav1SwitchInner {
margin: 0px 14px;
}
.alphav1SwitchRight {
text-align: center;
padding: 4px;
padding-left: 32px;
box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
.alphav1SwitchLeft {
text-align: center;
padding: 4px;
padding-right: 32px;
box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
.alphav1SwitchButton {
background: url('images/a5generated/box/size/1x28/fill/Gradient_Horizontal/.%23242+242+242/.%23217+216+216.png.a5image') repeat-x top;
border: 1px solid #c7c6c6;
margin-top: -1px;
margin-left: -15px;
width: 28px;
height: 28px;
border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
}
.alphav1List {
background: url('images/a5generated/box/size/1x4/fill/Gradient_Horizontal/.%23242%2c241%2c241/.%23253%2c252%2c252.png.a5image') repeat-x top #fdfcfc;
font: 10pt Calibri, Tahoma, Arial;
border: 1px solid #c3c3c3;
padding: 0px;
overflow: auto;
border-radius: 2px;
box-sizing: border-box;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
}
.alphav1ListItem {
text-decoration: none;
color: Black;
padding: 2px 4px;
margin: 1px;
display: block;
cursor: default;
outline: none;
}
.alphav1ListItemHover {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23242%2c245%2c254/.%23200%2c214%2c254.png.a5image') repeat-x top #cad7fe;
border: 1px solid #93aeff;
padding: 1px 3px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.alphav1ListItemSelected {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23228%2c234%2c254/.%23176%2c195%2c254.png.a5image') repeat-x top #b2c5ff;
border: 1px solid #93aeff;
padding: 1px 3px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.alphav1ListItemLabelMain {
font-size: 125%;
font-weight: bold;
}
.alphav1ListItemLabelSub {
font-weight: bold;
}
.alphav1ListItemLabelContext {
color: #767575;
font-style: italic;
}
.alphav1ListItemLabelDetail {
color: #fefefe;
background-color: #979696;
padding: 2px 10px;
border-radius: 12px;
}
.alphav1ListItemContent {
color: #575656;
}
.alphav1ListTitle {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
border: 1px none #d9d8d8;
border-top-style: solid;
border-bottom-style: solid;
padding: 2px 4px;
}
.alphav1ListSeparator {
border: 1px none #d9d8d8;
border-top-style: solid;
margin: 0px;
}
.alphav1ListHeader {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
border: 1px none #c3c3c3;
border-bottom-style: solid;
}
.alphav1ListHeaderItem {
padding: 4px 6px;
cursor: default;
}
.alphav1ListHeaderItemHover {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23233%2c238%2c254/.%23188%2c204%2c254.png.a5image') repeat-x top #beceff;
}
.alphav1Tree {
background: url('images/a5generated/box/size/1x4/fill/Gradient_Horizontal/.%23242%2c241%2c241/.%23253%2c252%2c252.png.a5image') repeat-x top #fdfcfc;
font: 10pt Calibri, Tahoma, Arial;
border: 1px solid #c3c3c3;
padding: 2px;
overflow: auto;
border-radius: 2px;
box-sizing: border-box;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
}
.alphav1TreeNode {
text-decoration: none;
color: Black;
padding: 2px 4px;
margin: 1px;
display: block;
cursor: default;
outline: none;
}
.alphav1TreeNodeHover {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23242%2c245%2c254/.%23200%2c214%2c254.png.a5image') repeat-x top #cad7fe;
border: 1px solid #93aeff;
padding: 1px 3px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.alphav1TreeNodeSelected {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23228%2c234%2c254/.%23176%2c195%2c254.png.a5image') repeat-x top #b2c5ff;
border: 1px solid #93aeff;
padding: 1px 3px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.alphav1TreeNodeLabel {
text-decoration: none;
color: Black;
cursor: default;
outline: none;
}
.alphav1DP {
color: Black;
background-color: White;
border: 1px solid #c3c3c3;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.alphav1DPHeader {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
border: 1px none #c3c3c3;
border-bottom-style: solid;
padding: 2px 4px;
}
.alphav1DPHeaderButton {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
color: #4c4c4c;
padding: 2px 4px;
margin: 1px;
display: inline-block;
cursor: default;
outline: none;
}
.alphav1DPHeaderButtonHover {
color: Black;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23233%2c238%2c254/.%23188%2c204%2c254.png.a5image') repeat-x top #beceff;
border: 1px solid #4170ff;
padding: 1px 3px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
.alphav1DPHeaderButtonSelected {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23216%2c216%2c216/.%23242%2c240%2c240.png.a5image') repeat-x top #f0efef;
border: 1px solid #9d9999;
padding: 1px 3px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
.alphav1DPItem {
text-align: center;
text-decoration: none;
color: Black;
padding: 2px 4px;
margin: 1px;
display: block;
cursor: default;
outline: none;
}
.alphav1DPItemHover {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23242%2c245%2c254/.%23200%2c214%2c254.png.a5image') repeat-x top #cad7fe;
border: 1px solid #93aeff;
padding: 1px 3px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.alphav1DPItemSelected {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23228%2c234%2c254/.%23176%2c195%2c254.png.a5image') repeat-x top #b2c5ff;
border: 1px solid #93aeff;
padding: 1px 3px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.alphav1DPItemOutOfRange {
color: #595959;
}
.alphav1DPItemDisabled {
color: #b2b2b2;
}
.alphav1DPPanel {
background-color: #fdfcfc;
padding: 2px;
}
.alphav1DPDaysOfWeek {
background: url('images/a5generated/box/size/1x5/fill/Gradient_Horizontal/.%23220%2c217%2c217/.%23238%2c236%2c236.png.a5image') repeat-x top #eae9e9;
border: 1px none #c3c3c3;
border-bottom-style: solid;
padding: 2px 4px;
}
.alphav1DPWeeksOfYear {
background-color: #eae9e9;
border-right: 1px solid #c3c3c3;
}
.alphav1DPWeeksOfYearHeader {
border-bottom-style: none;
}
.alphav1DPDate {
background-color: #fdfcfc;
padding: 2px;
}
.alphav1DPDateWeekend {
background: url('images/a5generated/box/size/8x8/fill/Up_Diagonal/.%23246%2c244%2c244/.%23238%2c236%2c236.png.a5image') repeat center #efeded;
padding: 2px;
}
.alphav1DPDateToday {
background: url('images/a5generated/box/size/8x8/fill/Up_Diagonal/.%23237%2c235%2c235/.%23230%2c226%2c226.png.a5image') repeat center #e6e3e3;
padding: 2px;
}
.alphav1TP .alphav1Edit {
text-align: center;
background: url('images/a5generated/box/size/1x4/fill/Gradient_Horizontal/.%23242%2c241%2c241/.%23253%2c252%2c252.png.a5image') repeat-x top #fdfcfc;
font: 10pt Calibri, Tahoma, Arial;
border: 1px solid #c3c3c3;
border-bottom-style: none;
padding: 3px;
margin: 0px;
border-radius: 2px 2px 0px 0px;
-webkit-border-radius: 2px 2px 0px 0px;
-moz-border-radius: 2px 2px 0px 0px;
}
.alphav1TPEditButton {
text-align: center;
text-decoration: none;
background-color: #f9f9f9;
border: 1px solid #c3c3c3;
border-top-style: none;
padding: 2px;
display: block;
border-radius: 0px 0px 2px 2px;
-webkit-border-radius: 0px 0px 2px 2px;
-moz-border-radius: 0px 0px 2px 2px;
outline: none;
}
.alphav1TPEditButton:hover {
background: url('images/a5generated/box/size/1x8/fill/Gradient_Horizontal/.%23233%2c238%2c254/.%23188%2c204%2c254.png.a5image') repeat-x top #beceff;
border-top-style: solid;
padding-top: 1px;
}
.alphav1TPMeridianButton {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
color: #333232;
padding: 2px 3px;
margin-left: 2px;
vertical-align: middle;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
outline: none;
}
.alphav1TPMeridianButton:hover {
text-shadow: 1px 1px #ffffff;
color: Black;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23233%2c238%2c254/.%23188%2c204%2c254.png.a5image') repeat-x top #beceff;
border: 1px solid #4170ff;
padding: 1px 2px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
.alphav1Grid {
color: Black;
background-color: White;
border: 1px solid #c3c3c3;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.alphav1GridHeader {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
border: 1px none #c3c3c3;
border-bottom-style: solid;
padding: 4px 6px;
}
.alphav1GridFooter {
background: url('images/a5generated/box/size/1x4/fill/Gradient_Horizontal/.%23217%2c215%2c215/.%23242%2c241%2c241.png.a5image') repeat-x top #ebeaea;
border: 1px none #c3c3c3;
border-top-style: solid;
padding: 4px 6px;
}
.alphav1GridSummaryLabel {
color: Gray;
background-color: #fdfcfc;
padding: 2px;
}
.alphav1GridSummaryData {
background-color: #fdfcfc;
padding: 2px;
}
.alphav1GridQBE {
background-color: #f2f1f1;
}
.alphav1GridSeparator {
background-color: White;
font-size: 0px;
padding: 0px;
margin: 0px;
height: 1px;
}
.alphav1GridRowHeader {
background-color: #f2f1f1;
}
.alphav1GridDataHeader {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23252%2c252%2c252/.%23242%2c241%2c241.png.a5image') repeat-x top #f2f1f1;
border: 1px solid #c3c3c3;
border-left-style: none;
border-right-style: none;
padding: 4px 6px;
}
.alphav1GridData {
background-color: #fdfcfc;
padding: 2px;
}
.alphav1GridDataAlt {
background-color: #f5f4f4;
padding: 2px;
}
.alphav1GridRowHover .alphav1GridDataAlt, .alphav1GridRowHover .alphav1GridData {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23242%2c245%2c254/.%23200%2c214%2c254.png.a5image') repeat-x top #cad7fe;
border: 1px none #93aeff;
border-top-style: solid;
border-bottom-style: solid;
padding: 1px 2px;
}
.alphav1GridRowSelected .alphav1GridDataAlt, .alphav1GridRowSelected .alphav1GridData {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23228%2c234%2c254/.%23176%2c195%2c254.png.a5image') repeat-x top #b2c5ff;
border: 1px none #93aeff;
border-top-style: solid;
border-bottom-style: solid;
padding: 1px 2px;
}
.alphav1GridDataError {
color: #fe0000;
background: url('images/a5generated/box/size/8x8/fill/Up_Diagonal/.%23255%2c195%2c195/.%23255%2c218%2c218.png.a5image') repeat center #ffdada;
font: 10pt Calibri, Tahoma, Arial;
}
.alphav1GridHeader .alphav1Link {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
}
.alphav1GridHeader .alphav1Link:hover {
text-decoration: underline;
color: #353535;
}
.alphav1GridForm {
}
.alphav1GridFormLabel {
padding: 2px;
}
.alphav1GridFormData {
padding: 2px;
}
.alphav1GridFormDataError {
color: #fe0000;
background: url('images/a5generated/box/size/8x8/fill/Up_Diagonal/.%23255%2c195%2c195/.%23255%2c218%2c218.png.a5image') repeat center #ffdada;
font: 10pt Calibri, Tahoma, Arial;
}
.alphav1DialogLabel {
padding: 2px;
}
.alphav1DialogRSHeader {
}
.alphav1DialogRSFooter {
text-align: right;
border-top: 1px dotted #c3c3c3;
padding-top: 2px;
}
.alphav1DialogRSRow {
padding: 3px;
}
.alphav1DialogRSRowSelected {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.White/.%23236%2c240%2c255.png.a5image') repeat-x top #ecf0ff;
border: 1px solid #beceff;
padding: 2px;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.alphav1DialogRSRowHover {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23253%2c254%2c255/.%23243%2c246%2c255.png.a5image') repeat-x top #f3f6ff;
border: 1px solid #beceff;
padding: 2px;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.alphav1DialogRSRowError {
color: #fe0000;
background: url('images/a5generated/box/size/8x8/fill/Up_Diagonal/.%23255%2c195%2c195/.%23255%2c218%2c218.png.a5image') repeat center #ffdada;
border: 1px solid #fe0000;
padding: 2px;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.alphav1DialogRSSeparator {
border-top: 1px dotted #c3c3c3;
margin-top: 5px;
line-height: 5px;
}
.alphav1Menu {
color: Black;
background-color: #f2f1f1;
border: 1px solid #a5a3a3;
border-radius: 3px;
box-shadow: 3px 3px 6px #aaa;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-moz-box-shadow: 3px 3px 6px #aaa;
-webkit-box-shadow: 3px 3px 6px #aaa;
}
.alphav1MenuInner {
border: 1px solid White;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.alphav1MenuIconColumn {
background: url('MenuIconColBack.png') repeat-y left;
}
.alphav1MenuNoIndent {
background-color: #f2f1f1;
}
.alphav1MenuItem {
text-decoration: none;
white-space: nowrap;
color: Black;
padding: 2px;
margin: 1px;
display: block;
cursor: default;
outline: none;
}
.alphav1MenuItemHover {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23242%2c245%2c254/.%23200%2c214%2c254.png.a5image') repeat-x top #cad7fe;
border: 1px solid #93aeff;
padding: 1px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.alphav1MenuItemSelected {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23228%2c234%2c254/.%23176%2c195%2c254.png.a5image') repeat-x top #b2c5ff;
border: 1px solid #93aeff;
padding: 1px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.alphav1MenuItemDisabled {
color: #8c8c8c;
}
.alphav1MenuItemDisabledHover {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c249%2c249/.%23232%2c231%2c231.png.a5image') repeat-x top #e8e7e7;
border: 1px solid #cdcaca;
padding: 1px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.alphav1MenuItem .alphav1MenuItemCascade {
background: url('MenuCascade.png') no-repeat right;
padding-right: 18px;
}
.alphav1MenuItemDisabled .alphav1MenuItemCascade {
background: url('MenuCascadeDisabled.png') no-repeat right;
}
.alphav1MenuSeparator {
font-size: 0px;
border-style: none;
border-top: 1px solid #d9d8d8;
border-bottom: 1px solid White;
padding: 0px;
}
.alphav1MenuTitle {
color: Gray;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23244%2c242%2c242/.%23233%2c230%2c230.png.a5image') repeat-x top #e9e6e6;
border: 1px none #d9d8d8;
border-top-style: solid;
border-bottom-style: solid;
padding: 1px 3px;
}
.alphav1MenuItemHover .alphav1MenuItemCascade {
background: url('MenuCascadeHover.png') no-repeat right;
}
.alphav1MenubarHItem {
text-decoration: none;
white-space: nowrap;
color: Black;
padding: 2px 4px;
margin: 1px;
display: block;
cursor: default;
outline: none;
}
.alphav1MenubarHItemHover {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23242%2c245%2c254/.%23200%2c214%2c254.png.a5image') repeat-x top #cad7fe;
border: 1px solid #93aeff;
padding: 1px 3px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.alphav1MenubarHItemPressed {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23228%2c234%2c254/.%23176%2c195%2c254.png.a5image') repeat-x top #b2c5ff;
border: 1px solid #93aeff;
padding: 1px 3px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.alphav1MenubarHItemDisabled {
color: #8c8c8c;
}
.alphav1MenubarHSeparator {
font-size: 0px;
border-style: none;
border-left: 1px solid #d9d8d8;
border-right: 1px solid White;
padding: 0px;
vertical-align: middle;
height: 10pt;
}
.alphav1MenubarHItemCascade {
background: url('MenubarHCascade.png') no-repeat right;
padding-right: 12px;
}
.alphav1MenubarHItemHover .alphav1MenubarHItemCascade {
background-image: url('MenubarHCascadeHover.png');
}
.alphav1MenubarHItemPressed .alphav1MenubarHItemCascade {
background-image: url('MenubarHCascadePressed.png');
}
.alphav1MenubarHItemDisabled .alphav1MenubarHItemCascade {
background-image: url('MenubarHCascadeDisabled.png');
}
.alphav1MenubarVItem {
text-decoration: none;
white-space: nowrap;
color: Black;
padding: 2px 4px;
margin: 1px;
display: block;
cursor: default;
outline: none;
}
.alphav1MenubarVItemHover {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23242%2c245%2c254/.%23200%2c214%2c254.png.a5image') repeat-x top #cad7fe;
border: 1px solid #93aeff;
padding: 1px 3px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.alphav1MenubarVItemPressed {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23228%2c234%2c254/.%23176%2c195%2c254.png.a5image') repeat-x top #b2c5ff;
border: 1px solid #93aeff;
padding: 1px 3px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.alphav1MenubarVItemDisabled {
color: #8c8c8c;
}
.alphav1MenubarVSeparator {
font-size: 0px;
border-style: none;
border-top: 1px solid #d9d8d8;
border-bottom: 1px solid White;
padding: 0px;
}
.alphav1MenubarVItemCascade {
background: url('MenubarVCascade.png') no-repeat right;
padding-right: 10px;
}
.alphav1MenubarVItemHover .alphav1MenubarVItemCascade {
background-image: url('MenubarVCascadeHover.png');
}
.alphav1MenubarVItemPressed .alphav1MenubarVItemCascade {
background-image: url('MenubarVCascadePressed.png');
}
.alphav1MenubarVItemDisabled .alphav1MenubarVItemCascade {
background-image: url('MenubarVCascadeDisabled.png');
}
.alphav1Win {
color: Black;
background: url('images/a5generated/box/size/1x100/fill/Gradient_Horizontal/.%23235%2c234%2c234/.%23191%2c190%2c190.png.a5image') repeat-x top #bfbebe;
font: 10pt Calibri, Tahoma, Arial;
border: 1px solid #a5a3a3;
border-radius: 3px;
box-shadow: 0 0 6px #888;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-moz-box-shadow: 0 0 6px #888;
-webkit-box-shadow: 0 0 6px #888;
}
.alphav1WinActive {
background: url('images/a5generated/box/size/1x100/fill/Gradient_Horizontal/.%23217%2c216%2c216/.%23191%2c190%2c190.png.a5image') repeat-x top #bfbebe;
border-color: #949191;
box-shadow: 0 0 8px #333;
-moz-box-shadow: 0 0 8px #333;
-webkit-box-shadow: 0 0 8px #333;
}
.alphav1WinAdjust {
}
.alphav1WinInner {
border: 1px solid #f0efef;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.alphav1WinTitle {
text-shadow: #ffffff 0px 0px 3px;
font-weight: bold;
padding: 2px 4px;
cursor: move;
}
.alphav1WinBodyContainer {
border: 1px solid #f0efef;
margin: 3px;
}
.alphav1WinTBar {
background-color: #f5f4f4;
border: 1px solid #a5a3a3;
border-bottom-style: none;
padding: 2px;
}
.alphav1WinBody {
background-color: #fdfcfc;
border: 1px solid #a5a3a3;
padding: 2px;
overflow: auto;
}
.alphav1WinButtons {
text-align: right;
background: url('images/a5generated/box/size/1x4/fill/Gradient_Horizontal/.%23217%2c215%2c215/.%23242%2c241%2c241.png.a5image') repeat-x top #ebeaea;
border: 1px solid #a5a3a3;
border-top-style: none;
padding: 2px 4px;
}
.alphav1WinBBar {
background-color: #f5f4f4;
border: 1px solid #a5a3a3;
border-top-style: none;
padding: 2px;
}
.alphav1WinHeader {
padding: 2px 4px;
}
.alphav1WinFooter {
padding: 2px 4px;
}
.alphav1WinActive .alphav1WinInner {
border: 1px solid #fdfcfc;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.alphav1WinActive .alphav1WinBodyContainer {
border-color: #fdfcfc;
}
.alphav1WinActive .alphav1WinTBar, .alphav1WinActive .alphav1WinBody, .alphav1WinActive .alphav1WinButtons, .alphav1WinActive .alphav1WinBBar {
border-color: #949191;
}
.alphav1WinResizer {
background: url('images/a5generated/box/size/1x8/fill/Gradient_Horizontal/.%23191%2c190%2c190/.%23217%2c216%2c216.png.a5image') repeat-x bottom #bfbebe;
font-size: 1px;
cursor: s-resize;
height: 10px;
}
.alphav1DDWin {
color: Black;
background-color: #f2f1f1;
font: 10pt Calibri, Tahoma, Arial;
border: 1px solid #a5a3a3;
border-radius: 3px;
box-shadow: 3px 3px 6px #aaa;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-moz-box-shadow: 3px 3px 6px #aaa;
-webkit-box-shadow: 3px 3px 6px #aaa;
}
.alphav1DDWinAdjust {
}
.alphav1DDWinInner {
border: 1px solid White;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.alphav1DDWinTitle {
text-shadow: #ffffff 0px 0px 3px;
font-weight: bold;
padding: 2px 4px;
cursor: move;
}
.alphav1DDWinHeader {
padding: 2px 4px;
}
.alphav1DDWinBody {
background: url('images/a5generated/box/size/1x4/fill/Gradient_Horizontal/.%23242%2c241%2c241/.%23253%2c252%2c252.png.a5image') repeat-x top #fdfcfc;
font: 10pt Calibri, Tahoma, Arial;
padding: 2px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.alphav1DDWinButtons {
text-align: right;
border-top: 1px solid #c3c3c3;
padding: 2px 4px;
}
.alphav1DDWinFooter {
padding: 2px 4px;
}
.alphav1DDWinResizer {
background: url('images/a5generated/box/size/1x8/fill/Gradient_Horizontal/.%23242%2c241%2c241/.%23219%2c218%2c218.png.a5image') repeat-x top #dddcdc;
font-size: 1px;
border-top: 1px solid #c3c3c3;
cursor: s-resize;
height: 10px;
}
.alphav1DDWinBBar {
padding: 2px 4px;
}
.alphav1DDWinTBar {
border-bottom: 1px solid #c3c3c3;
padding: 2px 4px;
}
.alphav1WinPointerDown, .alphav1DDWinPointerDown, .alphav1MenuPointerDown {
border-top: 10px solid #a5a3a3;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
margin-left: -10px;
left: 50%;
width: 0;
height: 0;
bottom: -10px;
}
.alphav1WinPointerUp, .alphav1DDWinPointerUp, .alphav1MenuPointerUp {
border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-bottom: 10px solid #a5a3a3;
margin-left: -10px;
top: -10px;
left: 50%;
width: 0;
height: 0;
}
.alphav1WinPointerLeft, .alphav1DDWinPointerLeft, .alphav1MenuPointerLeft {
border-top: 10px solid transparent;
border-right: 10px solid #a5a3a3;
border-bottom: 10px solid transparent;
margin-top: -10px;
top: 50%;
left: -10px;
width: 0;
height: 0;
}
.alphav1WinPointerRight, .alphav1DDWinPointerRight, .alphav1MenuPointerRight {
border-top: 10px solid transparent;
border-left: 10px solid #a5a3a3;
border-bottom: 10px solid transparent;
margin-top: -10px;
top: 50%;
right: -10px;
width: 0;
height: 0;
}
.alphav1PanelHeader {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23252%2c252%2c252/.%23242%2c241%2c241.png.a5image') repeat-x top #f2f1f1;
border-right: 1px solid #c3c3c3;
border-bottom: 1px solid #c3c3c3;
padding: 4px 6px;
}
.alphav1PanelBody {
background-color: #fdfcfc;
border-right: 1px solid #c3c3c3;
padding: 4px;
}
.alphav1PanelFooter {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23252%2c252%2c252/.%23242%2c241%2c241.png.a5image') repeat-x top #f2f1f1;
border-top: 1px solid #c3c3c3;
border-right: 1px solid #c3c3c3;
padding: 4px 6px;
}
.alphav1PanelOverlay:before {
content: '';
display: block;
position: absolute;
top: 0px;
width: 2px;
height: 100%;
left: -3px;
border-right: #c3c3c3 1px solid;
background: rgba(0,0,0,.1);
}
.alphav1PanelOverlay:after {
content: '';
display: block;
position: absolute;
top: 0px;
width: 2px;
height: 100%;
right: -3px;
border-left: #c3c3c3 1px solid;
background: rgba(0,0,0,.1);
}
.alphav1PanelTopHeader {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
border-right: 1px solid #c3c3c3;
border-bottom: 1px solid #c3c3c3;
padding: 4px 6px;
}
.alphav1PanelTopBody {
background-color: #fdfcfc;
border-right: 1px solid #c3c3c3;
padding: 4px;
}
.alphav1PanelTopFooter {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
border-top: 1px solid #c3c3c3;
border-right: 1px solid #c3c3c3;
padding: 4px 6px;
}
.alphav1PanelNavIndButton {
background: url('images/a5generated/box/size/1x10/fill/Gradient_Horizontal/.%23241%2c241%2c241/.%23217%2c216%2c216.png.a5image') repeat-x top #dad9d9;
border: 1px solid #c7c6c6;
margin: 2px;
display: inline-block;
width: 10px;
height: 10px;
border-radius: 5px;
}
.alphav1PanelNavIndButtonSelected {
background: url('images/a5generated/box/size/1x10/fill/Gradient_Horizontal/.%23216%2c216%2c216/.%23242%2c240%2c240.png.a5image') repeat-x top #f0efef;
border: 1px solid #9d9999;
}
.alphav1Accordion {
}
.alphav1AccordionButton {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
color: Black;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
border: 1px solid #a5a3a3;
padding: 2px 4px;
margin-bottom: 2px;
display: block;
cursor: default;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
outline: none;
}
.alphav1AccordionButton:hover {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c247%2c247/.%23238%2c236%2c236.png.a5image') repeat-x top #efeded;
}
.alphav1AccordionButtonSelected {
text-decoration: none;
color: Black;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23252%2c250%2c250/.%23238%2c236%2c236.png.a5image') repeat-x top #efeded;
border: 1px solid #a5a3a3;
border-bottom-color: #d9d8d8;
padding: 2px 4px;
margin-bottom: 2px;
display: block;
cursor: default;
border-radius: 2px 2px 0px 0px;
-moz-border-radius: 2px 2px 0px 0px;
-webkit-border-radius: 2px 2px 0px 0px;
outline: none;
}
.alphav1AccordionButtonSelected:hover {
}
.alphav1AccordionButtonDisabled {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
color: #888585;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
border: 1px solid #a5a3a3;
padding: 2px 4px;
margin-bottom: 2px;
display: block;
cursor: default;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
outline: none;
}
.alphav1AccordionButtonDisabled:hover {
}
.alphav1AccordionPane {
color: Black;
background-color: #fdfcfc;
border: 1px solid #a5a3a3;
border-top-style: none;
padding: 2px;
margin-top: -2px;
margin-bottom: 2px;
border-radius: 0px 0px 2px 2px;
-moz-border-radius: 0px 0px 2px 2px;
-webkit-border-radius: 0px 0px 2px 2px;
}
.alphav1AccordionIconButton {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
color: Black;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
border: 1px solid #a5a3a3;
padding: 2px 4px;
padding-left: 20px;
margin-bottom: 2px;
display: block;
cursor: default;
position: relative;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
outline: none;
}
.alphav1AccordionIconButton:before {
position: absolute;
top: 2px;
left: 3px;
content: url('Expand.png');
}
.alphav1AccordionIconButton:hover {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c247%2c247/.%23238%2c236%2c236.png.a5image') repeat-x top #efeded;
}
.alphav1AccordionIconButtonSelected {
text-decoration: none;
color: Black;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23252%2c250%2c250/.%23238%2c236%2c236.png.a5image') repeat-x top #efeded;
border: 1px solid #a5a3a3;
border-bottom-color: #d9d8d8;
padding: 2px 4px;
padding-left: 20px;
margin-bottom: 2px;
display: block;
cursor: default;
position: relative;
border-radius: 2px 2px 0px 0px;
-moz-border-radius: 2px 2px 0px 0px;
-webkit-border-radius: 2px 2px 0px 0px;
outline: none;
}
.alphav1AccordionIconButtonSelected:before {
position: absolute;
top: 2px;
left: 3px;
content: url('Collapse.png');
}
.alphav1AccordionIconButtonSelected:hover {
}
.alphav1AccordionIconButtonDisabled {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
color: #888585;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
border: 1px solid #a5a3a3;
padding: 2px 4px;
padding-left: 20px;
margin-bottom: 2px;
display: block;
cursor: default;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
outline: none;
}
.alphav1AccordionButtonDisabled:hover {
}
.alphav1TabTContainer {
}
.alphav1TabTBand {
}
.alphav1TabTButton {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
color: Black;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
border: 1px solid #c3c3c3;
border-bottom-style: none;
padding: 2px 4px;
margin-right: 2px;
margin-bottom: -1px;
display: block;
float: left;
cursor: default;
border-radius: 2px 2px 0px 0px;
-moz-border-radius: 2px 2px 0px 0px;
-webkit-border-radius: 2px 2px 0px 0px;
outline: none;
}
.alphav1TabTButton:hover {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c247%2c247/.%23238%2c236%2c236.png.a5image') repeat-x top #efeded;
border-color: #a5a3a3;
}
.alphav1TabTButtonSelected {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
color: Black;
background-color: #fdfcfc;
border: 1px solid #a5a3a3;
border-bottom-style: none;
padding: 2px 4px;
padding-bottom: 3px;
margin-right: 2px;
margin-bottom: -1px;
display: block;
float: left;
cursor: default;
position: relative;
border-radius: 2px 2px 0px 0px;
-moz-border-radius: 2px 2px 0px 0px;
-webkit-border-radius: 2px 2px 0px 0px;
outline: none;
}
.alphav1TabTButtonSelected:hover {
}
.alphav1TabTButtonDisabled {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
color: #888585;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
border: 1px solid #c3c3c3;
border-bottom-style: none;
padding: 2px 4px;
margin-right: 2px;
margin-bottom: -1px;
display: block;
float: left;
cursor: default;
border-radius: 0px 0px 2px 2px;
-moz-border-radius: 0px 0px 2px 2px;
-webkit-border-radius: 0px 0px 2px 2px;
outline: none;
}
.alphav1TabTButtonDisabled:hover {
}
.alphav1TabTPanes {
}
.alphav1TabTPane {
color: Black;
background-color: #fdfcfc;
border: 1px solid #a5a3a3;
padding: 2px;
}
.alphav1TabBContainer {
}
.alphav1TabBBand {
}
.alphav1TabBButton {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
color: Black;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23227%2c225%2c225/.%23249%2c248%2c248.png.a5image') repeat-x bottom #e3e1e1;
border: 1px solid #c3c3c3;
border-top-color: #a5a3a3;
padding: 2px 4px;
margin-top: -1px;
margin-right: 2px;
display: block;
float: left;
cursor: default;
border-radius: 0px 0px 2px 2px;
-moz-border-radius: 0px 0px 2px 2px;
-webkit-border-radius: 0px 0px 2px 2px;
outline: none;
}
.alphav1TabBButton:hover {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23238%2c236%2c236/.%23249%2c247%2c247.png.a5image') repeat-x bottom #efeded;
border-color: #a5a3a3;
}
.alphav1TabBButtonSelected {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
color: Black;
background-color: #fdfcfc;
border: 1px solid #a5a3a3;
border-top-style: none;
padding: 2px 4px;
padding-top: 3px;
margin-top: -1px;
margin-right: 2px;
display: block;
float: left;
cursor: default;
position: relative;
border-radius: 0px 0px 2px 2px;
-moz-border-radius: 0px 0px 2px 2px;
-webkit-border-radius: 0px 0px 2px 2px;
outline: none;
}
.alphav1TabBButtonSelected:hover {
}
.alphav1TabBButtonDisabled {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
color: #888585;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23227%2c225%2c225/.%23249%2c248%2c248.png.a5image') repeat-x bottom #e3e1e1;
border: 1px solid #c3c3c3;
border-top-color: #a5a3a3;
padding: 2px 4px;
margin-top: -1px;
margin-right: 2px;
display: block;
float: left;
cursor: default;
border-radius: 0px 0px 2px 2px;
-moz-border-radius: 0px 0px 2px 2px;
-webkit-border-radius: 0px 0px 2px 2px;
outline: none;
}
.alphav1TabBButtonDisabled:hover {
}
.alphav1TabBPanes {
}
.alphav1TabBPane {
color: Black;
background-color: #fdfcfc;
border: 1px solid #a5a3a3;
padding: 2px;
}
.alphav1TabLContainer {
}
.alphav1TabLBand {
}
.alphav1TabLButton {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
color: Black;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
border: 1px solid #c3c3c3;
padding: 2px;
margin-right: -1px;
margin-bottom: 2px;
display: block;
cursor: default;
border-radius: 2px 0px 0px 2px;
-moz-border-radius: 2px 0px 0px 2px;
-webkit-border-radius: 2px 0px 0px 2px;
outline: none;
}
.alphav1TabLButton:hover {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c247%2c247/.%23238%2c236%2c236.png.a5image') repeat-x top #efeded;
border-color: #a5a3a3;
}
.alphav1TabLButtonSelected {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
color: Black;
background-color: #fdfcfc;
border: 1px solid #a5a3a3;
border-right-style: none;
padding: 2px;
padding-right: 3px;
margin-right: -1px;
margin-bottom: 2px;
display: block;
cursor: default;
position: relative;
border-radius: 2px 0px 0px 2px;
-moz-border-radius: 2px 0px 0px 2px;
-webkit-border-radius: 2px 0px 0px 2px;
outline: none;
}
.alphav1TabLButtonSelected:hover {
}
.alphav1TabLButtonDisabled {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
color: #888585;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
border: 1px solid #c3c3c3;
padding: 2px;
margin-right: -1px;
margin-bottom: 2px;
display: block;
cursor: default;
border-radius: 2px 0px 0px 2px;
-moz-border-radius: 2px 0px 0px 2px;
-webkit-border-radius: 2px 0px 0px 2px;
outline: none;
}
.alphav1TabLButtonDisabled:hover {
}
.alphav1TabLPanes {
}
.alphav1TabLPane {
color: Black;
background-color: #fdfcfc;
border: 1px solid #a5a3a3;
padding: 2px;
}
.alphav1TabRContainer {
}
.alphav1TabRBand {
}
.alphav1TabRButton {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
color: Black;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
border: 1px solid #c3c3c3;
border-left-style: none;
padding: 2px;
margin-left: 0px;
margin-bottom: 2px;
display: block;
cursor: default;
border-radius: 0px 2px 2px 0px;
-moz-border-radius: 0px 2px 2px 0px;
-webkit-border-radius: 0px 2px 2px 0px;
outline: none;
}
.alphav1TabRButton:hover {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c247%2c247/.%23238%2c236%2c236.png.a5image') repeat-x top #efeded;
border-color: #a5a3a3;
}
.alphav1TabRButtonSelected {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
color: Black;
background-color: #fdfcfc;
border: 1px solid #a5a3a3;
border-left-style: none;
padding: 2px;
padding-left: 3px;
margin-left: -1px;
margin-bottom: 2px;
display: block;
cursor: default;
position: relative;
border-radius: 0px 2px 2px 0px;
-moz-border-radius: 0px 2px 2px 0px;
-webkit-border-radius: 0px 2px 2px 0px;
outline: none;
}
.alphav1TabRButtonSelected:hover {
}
.alphav1TabRButtonDisabled {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
color: #888585;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
border: 1px solid #c3c3c3;
border-left-style: none;
padding: 2px;
margin-left: 0px;
margin-bottom: 2px;
display: block;
cursor: default;
border-radius: 0px 2px 2px 0px;
-moz-border-radius: 0px 2px 2px 0px;
-webkit-border-radius: 0px 2px 2px 0px;
outline: none;
}
.alphav1TabRButtonDisabled:hover {
}
.alphav1TabRPanes {
}
.alphav1TabRPane {
color: Black;
background-color: #fdfcfc;
border: 1px solid #a5a3a3;
padding: 2px;
}
.alphav1TabbandT {
color: Black;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
border: 1px solid #a5a3a3;
padding: 0px;
}
.alphav1TabbandTButton {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
white-space: nowrap;
color: Black;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
border: 1px solid #c3c3c3;
border-bottom-style: none;
padding: 2px 4px;
margin-top: 2px;
margin-right: 2px;
display: block;
cursor: default;
position: relative;
border-radius: 2px 2px 0px 0px;
-moz-border-radius: 2px 2px 0px 0px;
-webkit-border-radius: 2px 2px 0px 0px;
outline: none;
}
.alphav1TabbandTButton:hover {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c247%2c247/.%23238%2c236%2c236.png.a5image') repeat-x top #efeded;
border-color: #a5a3a3;
}
.alphav1TabbandTButtonSelected {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
white-space: nowrap;
color: Black;
background-color: #fdfcfc;
border: 1px solid #a5a3a3;
border-bottom-style: none;
padding: 2px 4px;
padding-bottom: 3px;
margin-top: 2px;
margin-right: 2px;
margin-bottom: -1px;
display: block;
cursor: default;
position: relative;
border-radius: 2px 2px 0px 0px;
-moz-border-radius: 2px 2px 0px 0px;
-webkit-border-radius: 2px 2px 0px 0px;
outline: none;
}
.alphav1TabbandTButtonSelected:hover {
}
.alphav1TabbandTButtonDisabled {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
white-space: nowrap;
color: #888585;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
border: 1px solid #c3c3c3;
border-bottom-style: none;
padding: 2px 4px;
margin-top: 2px;
margin-right: 2px;
display: block;
cursor: default;
position: relative;
border-radius: 0px 0px 2px 2px;
-moz-border-radius: 0px 0px 2px 2px;
-webkit-border-radius: 0px 0px 2px 2px;
outline: none;
}
.alphav1TabbandTButtonDisabled:hover {
}
.alphav1TabbandTLScroll {
text-decoration: none;
color: Black;
background-color: #fdfcfc;
border: 1px solid #a5a3a3;
border-left-style: none;
border-bottom-style: none;
padding: 2px;
padding-bottom: 3px;
margin-bottom: -1px;
display: block;
position: relative;
border-radius: 0px 2px 0px 0px;
-moz-border-radius: 0px 2px 0px 0px;
-webkit-border-radius: 0px 2px 0px 0px;
outline: none;
}
.alphav1TabbandTLScroll:hover {
}
.alphav1TabbandTLScrollDisabled {
text-decoration: none;
color: Black;
background-color: #fdfcfc;
border: 1px solid #a5a3a3;
border-left-style: none;
border-bottom-style: none;
padding: 2px;
padding-bottom: 3px;
margin-bottom: -1px;
display: block;
position: relative;
border-radius: 0px 2px 0px 0px;
-moz-border-radius: 0px 2px 0px 0px;
-webkit-border-radius: 0px 2px 0px 0px;
outline: none;
}
.alphav1TabbandTLScrollDisabled:hover {
}
.alphav1TabbandTRScroll {
text-decoration: none;
color: Black;
background-color: #f5f4f4;
border: 1px solid #a5a3a3;
border-right-style: none;
border-bottom-style: none;
padding: 2px;
padding-bottom: 3px;
margin-bottom: -1px;
display: block;
position: relative;
border-radius: 2px 0px 0px 0px;
-moz-border-radius: 2px 0px 0px 0px;
-webkit-border-radius: 2px 0px 0px 0px;
outline: none;
}
.alphav1TabbandTRScroll:hover {
}
.alphav1TabbandTRScrollDisabled {
text-decoration: none;
color: Black;
background-color: #fdfcfc;
border: 1px solid #a5a3a3;
border-right-style: none;
border-bottom-style: none;
padding: 2px;
padding-bottom: 3px;
margin-bottom: -1px;
display: block;
position: relative;
border-radius: 2px 0px 0px 0px;
-moz-border-radius: 2px 0px 0px 0px;
-webkit-border-radius: 2px 0px 0px 0px;
outline: none;
}
.alphav1TabbandTRScrollDisabled:hover {
}
.alphav1TabbandTSeparator {
background-color: #fdfcfc;
font: 0pt arial;
border-top: 1px solid #a5a3a3;
padding: 0px;
height: 3px;
}
.alphav1TabbandB {
color: Black;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23227%2c225%2c225/.%23249%2c248%2c248.png.a5image') repeat-x bottom #e3e1e1;
border: 1px solid #a5a3a3;
border-bottom-style: solid;
padding: 0px;
}
.alphav1TabbandBButton {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
white-space: nowrap;
color: Black;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23227%2c225%2c225/.%23249%2c248%2c248.png.a5image') repeat-x bottom #e3e1e1;
border: 1px solid #c3c3c3;
border-top-style: none;
padding: 2px 4px;
margin-right: 2px;
margin-bottom: 2px;
display: block;
cursor: default;
position: relative;
border-radius: 0px 0px 2px 2px;
-moz-border-radius: 0px 0px 2px 2px;
-webkit-border-radius: 0px 0px 2px 2px;
outline: none;
}
.alphav1TabbandBButton:hover {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23238%2c236%2c236/.%23249%2c247%2c247.png.a5image') repeat-x bottom #efeded;
border-color: #a5a3a3;
}
.alphav1TabbandBButtonSelected {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
white-space: nowrap;
color: Black;
background-color: #fdfcfc;
border: 1px solid #a5a3a3;
border-top-style: none;
padding: 2px 4px;
padding-top: 3px;
margin-top: -1px;
margin-right: 2px;
margin-bottom: 2px;
display: block;
cursor: default;
position: relative;
border-radius: 0px 0px 2px 2px;
-moz-border-radius: 0px 0px 2px 2px;
-webkit-border-radius: 0px 0px 2px 2px;
outline: none;
}
.alphav1TabbandBButtonSelected:hover {
}
.alphav1TabbandBButtonDisabled {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
white-space: nowrap;
color: #888585;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23227%2c225%2c225/.%23249%2c248%2c248.png.a5image') repeat-x bottom #e3e1e1;
border: 1px solid #c3c3c3;
border-top-style: none;
padding: 2px 4px;
margin-right: 2px;
margin-bottom: 2px;
display: block;
cursor: default;
position: relative;
border-radius: 0px 0px 2px 2px;
-moz-border-radius: 0px 0px 2px 2px;
-webkit-border-radius: 0px 0px 2px 2px;
outline: none;
}
.alphav1TabbandBButtonDisabled:hover {
}
.alphav1TabbandBLScroll {
text-decoration: none;
color: Black;
background-color: #f5f4f4;
border: 1px solid #a5a3a3;
border-top-style: none;
border-left-style: none;
padding: 2px;
padding-top: 3px;
margin-top: -1px;
display: block;
position: relative;
border-radius: 0px 0px 2px 0px;
-moz-border-radius: 0px 0px 2px 0px;
-webkit-border-radius: 0px 0px 2px 0px;
outline: none;
}
.alphav1TabbandBLScroll:hover {
}
.alphav1TabbandBLScrollDisabled {
text-decoration: none;
color: Black;
background-color: #fdfcfc;
border: 1px solid #a5a3a3;
border-top-style: none;
border-left-style: none;
padding: 2px;
padding-top: 3px;
margin-top: -1px;
display: block;
position: relative;
border-radius: 0px 0px 2px 0px;
-moz-border-radius: 0px 0px 2px 0px;
-webkit-border-radius: 0px 0px 2px 0px;
outline: none;
}
.alphav1TabbandBLScrollDisabled:hover {
}
.alphav1TabbandBRScroll {
text-decoration: none;
color: Black;
background-color: #fdfcfc;
border: 1px solid #a5a3a3;
border-top-style: none;
border-right-style: none;
padding: 2px;
padding-top: 3px;
margin-top: -1px;
display: block;
position: relative;
border-radius: 0px 0px 0px 2px;
-moz-border-radius: 0px 0px 0px 2px;
-webkit-border-radius: 0px 0px 0px 2px;
outline: none;
}
.alphav1TabbandBRScroll:hover {
}
.alphav1TabbandBRScrollDisabled {
text-decoration: none;
color: Black;
background-color: #fdfcfc;
border: 1px solid #a5a3a3;
border-top-style: none;
border-right-style: none;
padding: 2px;
padding-top: 3px;
margin-top: -1px;
display: block;
position: relative;
border-radius: 0px 0px 0px 2px;
-moz-border-radius: 0px 0px 0px 2px;
-webkit-border-radius: 0px 0px 0px 2px;
outline: none;
}
.alphav1TabbandBRScrollDisabled:hover {
}
.alphav1TabbandBSeparator {
background-color: #fdfcfc;
font: 0pt arial;
border-bottom: 1px solid #a5a3a3;
padding: 0px;
height: 3px;
}
.alphav1ControlGroup {
background-color: #f5f4f4;
border: 1px solid #c3c3c3;
border-radius: 3px;
}
.alphav1ControlGroupRow {
border-top: 1px solid #c3c3c3;
}
.alphav1ControlGroupRowFirst {
border-top-style: none;
}
/* Spin List */
.alphav1SpinList {
text-shadow: none;
color: Black;
background-color: #fdfcfc;
border: 1px solid #c3c3c3;
padding: 3px;
vertical-align: top;
border-radius: 2px;
box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
.alphav1SpinList:after {
background-image: url('spinListShadow.png');
display: block;
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
border-radius: 1px;
content: "";
background-size: 100% 100%;
}
.alphav1SpinListItem {
font: 10pt Calibri, Tahoma, Arial;
padding: 2px;
}
.alphav1SpinListGroup {
white-space: nowrap;
border: 1px solid #c3c3c3;
padding: 0px;
overflow: hidden;
border-radius: 2px;
}
.alphav1SpinListGroup .alphav1SpinList {
border-style: none;
border-right: 1px solid #c3c3c3;
display: inline-block;
border-radius: 0px;
}
.alphav1SpinListGroup .alphav1SpinList:last-child {
border-style: none;
}
.alphav1SpinListGroup .alphav1SpinList:after {
border-radius: 0px;
}
.alphav1SpinListSelectBand:before {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23228%2c234%2c254/.%23176%2c195%2c254.png.a5image') repeat-x top #b2c5ff;
border-top: 1px solid #93aeff;
border-bottom: 1px solid #93aeff;
margin-top: -8pt;
display: block;
position: absolute;
top: 50%;
left: 0px;
width: 100%;
height: 16pt;
content: "";
background-size: 100% 100%;
}
/* Scroll Indicator */
.alphav1ScrollIndH, .alphav1ScrollIndV {
padding: 0px;
width: 5px;
height: 5px;
}
.alphav1ScrollIndHBar, .alphav1ScrollIndVBar {
background-color: Black;
border-radius: 6px;
opacity: .5;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
}
/* fix to help with firefox button padding */
button::-moz-focus-inner {
border-width: 0;
padding: 0;
}
